---
# Process a single deployer app

- name: "Set defaults for {{ app_item.name }}"
  tags:
    - splunk
    - splunk_apps
    - deployer
  ansible.builtin.set_fact:
    app_state: "{{ app_item.state | default('installed') }}"
    app_version: "{{ app_item.version | default('latest') }}"

- name: "Debug {{ app_item.name }} deployment"
  tags:
    - splunk
    - splunk_apps
    - deployer
  ansible.builtin.debug:
    msg:
      - "App: {{ app_item.name }}"
      - "State: {{ app_state }}"
      - "Version: {{ app_version }}"
      - "Location: shcluster/apps/"
    verbosity: 0

- name: "Install {{ app_item.name }}"
  ansible.builtin.include_tasks: "install_app.yml"
  when: app_state == 'installed'

- name: "Apply customizations for {{ app_item.name }}"
  ansible.builtin.include_role:
    name: apps_common
    tasks_from: apply_customizations.yml
  vars:
    app_path: "{{ app_item.target_path | default(splunk_install_dir | default('/opt') ~ '/' ~ splunk_install_app | default('splunk') ~ '/etc/shcluster/apps/' ~ app_item.name) }}"
  when:
    - app_state == 'installed'
    - app_item.customizations is defined

- name: "Set target path for removal of {{ app_item.name }}"
  tags:
    - splunk
    - splunk_apps
    - deployer
  ansible.builtin.set_fact:
    app_name: "{{ app_item.name }}"
    app_target_path: "{{ app_item.target_path | default(splunk_install_dir | default('/opt') ~ '/' ~ splunk_install_app | default('splunk') ~ '/etc/shcluster/apps/' ~ app_item.name) }}"
  when: app_state == 'absent'

- name: "Remove {{ app_item.name }}"
  ansible.builtin.include_tasks: "remove_app.yml"
  when: app_state == 'absent'

- name: "Notify shcluster bundle push for {{ app_item.name }}"
  tags:
    - splunk
    - splunk_apps
    - deployer
  ansible.builtin.command: /bin/true
  notify: Push shcluster bundle
  changed_when: update_needed | default(false)
  when: update_needed | default(false)
