---
# get the list of existing dservers and add the missing ones

- name: Get list of current distributedSearch servers
  tags:
    - splunk
    - splunk_baseconfig
    - monitoring_console
    - dserver
  # Same command is in search_head/tasks/search_peers.yml
  ansible.builtin.include_role:
    name: splunk_software
    tasks_from: splunk_rest
  vars:
    splunk_rest_endpoint: /services/search/distributed/peers

- name: Create current_dservers list
  tags:
    - splunk
    - splunk_baseconfig
    - monitoring_console
    - dserver
    - splunk_rest
  ansible.builtin.set_fact:
    current_dservers: "{{ splunk_rest_json_output | json_query(jmesquery) | map('regex_replace', ':\\d+$', '') }}"
  vars:
    jmesquery: "entry[*].name"

- name: Call add_dserver
  tags:
    - splunk
    - splunk_baseconfig
    - monitoring_console
    - dserver
  ansible.builtin.include_tasks: add_dserver.yml
  loop: "{{ (splunk_dservers if (splunk_dservers | type_debug == 'list') else (splunk_dservers | from_yaml)) | difference(current_dservers) }}"
  loop_control:
    loop_var: dserver_name
  when: "splunk_dservers|difference(current_dservers)|length > 0"
