---
# Main playbook for this role

- name: Start role tasks
  tags:
    - splunk
    - monitoring_console
  ansible.builtin.debug:
    msg: "role '{{ role_name }}' start"

- name: Apply baseconfig app org_all_deploymentclient
  tags:
    - splunk
    - splunk_baseconfig
    - monitoring_console
    - org_all_deploymentclient
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: 'org_all_deploymentclient'
    app_path: '{{splunk_home}}/etc/apps'
  when: splunk_deployment_server|default()|length > 0 and inventory_hostname not in groups.role_deployment_server

- name: Apply baseconfig app org_all_forwarder_outputs
  tags:
    - splunk
    - splunk_baseconfig
    - monitoring_console
    - org_all_forwarder_outputs
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: 'org_all_forwarder_outputs'
    app_path: '{{splunk_home}}/etc/apps'
  when: splunk_deployment_server|default()|length == 0 and inventory_hostname not in groups.role_indexer

- name: Install certs for web ssl
  tags:
    - splunk
    - splunk_baseconfig
    - monitoring_console
    - org_all_search_base
    - web_ssl
  ansible.builtin.include_role:
    name: baseconfig_app
    tasks_from: splunk_ssl_web_certs
  when: splunk_ssl.web.enable == true and splunk_ssl.web.own_certs == true

- name: Apply baseconfig app org_all_search_base
  tags:
    - splunk
    - splunk_baseconfig
    - monitoring_console
    - org_all_search_base
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: 'org_all_search_base'
    app_path: '{{splunk_home}}/etc/apps'
  when: splunk_deployment_server|default()|length == 0

- name: Apply baseconfig app org_full_license_server
  tags:
    - splunk
    - splunk_baseconfig
    - monitoring_console
    - org_full_license_server
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: 'org_full_license_server'
    app_path: '{{splunk_home}}/etc/apps'
  when: splunk_deployment_server|default()|length == 0 and splunk_license_manager|default()|length > 0 and inventory_hostname not in groups.role_license_manager|default([])

- name: Apply baseconfig app org_cluster_search_base
  tags:
    - splunk
    - splunk_baseconfig
    - monitoring_console
    - org_cluster_search_base
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: 'org_cluster_search_base'
    app_path: '{{splunk_home}}/etc/apps'
  when:
    - (splunk_deployment_server|default()|length == 0 or inventory_hostname in groups.role_deployment_server)
    - splunk_search_peer_idxc_list|length > 0
    - inventory_hostname not in groups.role_cluster_manager

- name: Call dserver from role monitoring_console
  tags:
    - splunk
    - monitoring_console
    - dserver
  ansible.builtin.include_tasks: dserver.yml
