# Mac OS X
**/.DS_Store
# Vagrant
.vagrant
# Archives
**/*.tgz
**/*.tar
**/*.tar.gz
**/*.zip
# Ansible
**/*.retry
# Config directory
config
# Auth directory
auth
# Inventory directory
inventory
**/splunk_config.yml
# Test files
**/test.yml
**/Todo.txt
# Vim
*.swp
*.swo
# Sublime
*.sublime-project
*.sublime-workspace
