# Mac OS X
**/.DS_Store
# Vagrant
.vagrant
# Archives
*.tgz
*.tar
*.tar.gz
*.zip
# Ansible
.ansible
*.retry
# Vault password (do not commit)
.vault_pass.txt
.vault_pass
*vault_pass*
# Any log file
*.log
# Config directory
/config
**/splunk_config.yml
# Auth directory
/auth
# Inventory directory
/inventory
# Apps directory
/apps
# Helpers directory
/helpers
# Test files
**/test.yml
**/Todo.txt
# Vim
*.swp
*.swo
# Sublime
*.sublime-project
*.sublime-workspace
# Test runner (vault unit tests)
tests/.venv
tests/.ansible_tmp

# Python
__pycache__/
*.py[cod]
*$py.class
# VSCode
.vscode
# Terraform
.terraform/
.terraform.*
*.tfvars
*.tfstate
*.tfstate.*
*.tfstate.backup
tfplan
ancustom
ansible/roles/syslog-ng_server
ansible/roles/splunk_app