# Mac OS X
**/.DS_Store
# Vagrant
.vagrant
# Archives
*.tgz
*.tar
*.tar.gz
*.zip
# Ansible
*.retry
# Any log file
*.log
# Config directory
/config
**/splunk_config.yml
# Auth directory
/auth
# Inventory directory
/inventory
# Apps directory
/apps
# Helpers directory
/helpers
# Test files
**/test.yml
**/Todo.txt
# Vim
*.swp
*.swo
# Sublime
*.sublime-project
*.sublime-workspace
# Python
__pycache__/
*.py[cod]
*$py.class
# VSCode
.vscode
# Terraform
.terraform/
.terraform.*
*.tfvars
*.tfstate
*.tfstate.backup
tfplan
