[defaults]
inventory = .vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
#inventory = ./ansible_inventory
#private_key_file = ~/.ssh/id_rsa_ansible_key
host_key_checking = false
force_color = 1
#remote_user = vagrant
#log_path=./ansible.log
timeout = 30

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
# When changing become_method, create a file ansible/group_vars/all/ansible.yml with the same value
#become_method = sudo
