{{splunk_user}} ALL=(ALL) NOPASSWD: /bin/systemctl stop {{splunk_service_name}}, /bin/systemctl start {{splunk_service_name}}, /bin/systemctl restart {{splunk_service_name}}, /bin/systemctl status {{splunk_service_name}}
