export SPARK_HOME={{ spark_home }}
export JAVA_HOME=/usr/lib/jvm/jre-1.8.0-openjdk
#export SPARK_MASTER_PORT=9887
export SPARK_PUBLIC_DNS={{ ansible_host }}
export SPARK_MASTER_HOST={{ hostvars[spark_sparkc_master]['ip_addr'] }}
export SPLUNK_HOME=/opt/splunk
export PATH=${SPARK_HOME}/sbin:${SPARK_HOME}/bin:${JAVA_HOME}/bin:$PATH:${SPLUNK_HOME}/bin
export SPARK_LOCAL_IP={{ ip_addr }}
