---
# This playbook installs a splunk licenses

- name: Loop through the license files
  tags:
    - splunk
    - license_manager
  ansible.builtin.include_tasks:
    file: add_license.yml
  loop: "{{ splunk_license_file }}"
  loop_control:
    loop_var: splunk_license_file_name
  when: splunk_license_file is defined
