---
# This playbook adds single indexers as search peers

- name: Get list of current distributedSearch peers (single indexers)
  tags:
    - splunk
    - splunk_baseconfig
    - search_head
    - search_peer
  # Same command is in monitoring_console/tasks/dserver.yml
  ansible.builtin.include_role:
    name: splunk_software
    tasks_from: splunk_rest
  vars:
    splunk_software_rest_endpoint: /services/search/distributed/peers
  register: current_dservers

- name: Create current_dservers list
  tags:
    - splunk
    - splunk_baseconfig
    - monitoring_console
    - dserver
    - splunk_rest
  ansible.builtin.set_fact:
    current_dservers: "{{ splunk_software_rest_json_output | json_query(jmesquery) | map('regex_replace', ':\\d+$', '') }}"
  vars:
    jmesquery: "entry[*].name"

- name: Adding new distributedSearch peer (single indexers)
  tags:
    - splunk
    - splunk_baseconfig
    - search_head
    - search_peer
  ansible.builtin.command: "{{ splunk_home }}/bin/splunk add search-server {{ item }}:8089 -remoteUsername admin -remotePassword {{splunk_admin_password}} -auth admin:{{splunk_admin_password}}"
  loop: "{{ (splunk_search_peer_idx_list if (splunk_search_peer_idx_list | type_debug == 'list') else (splunk_search_peer_idx_list | from_yaml)) | difference(current_dservers) }}"
  become: true
  become_user: "{{ splunk_user }}"
  when: "splunk_search_peer_idx_list|difference(current_dservers)|length > 0"
