---
# Different checks for installed or target version

- name: Checking if splunk is installed
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
  ansible.builtin.stat:
    path: "{{ splunk_home }}/bin/splunk"
  register: splunk_path

- name: Splunk is installed here
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
  ansible.builtin.debug:
    msg: 'splunk found as {{ splunk_home }}/bin/splunk'
  when: splunk_path.stat.exists

- name: No Splunk installation found
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
  ansible.builtin.fail:
    msg: "No Splunk installation found, ending"
  when: splunk_path.stat.exists == false

- name: Find target version
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
  ansible.builtin.include_tasks: find_target_version.yml
  when: find_target_version|default(true) == true

- name: Fail on installed version
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
  ansible.builtin.fail:
    msg: "{{inventory_hostname}} must be upgraded!"
  when:
    - fail_on_missing_upgrade|default(false) == true
    - splunk_installed_version != splunk_target_version

- name: Inform about not upgrading
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
  ansible.builtin.debug:
    msg: "Installed version '{{ splunk_installed_version }}' is equal to upgrade version '{{ splunk_target_version }}' -> nothing to upgrade"
  when:
    - inform_on_already_upgraded|default(false) == true 
    - splunk_installed_version == splunk_target_version

- name: Set splunk_current_version
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
  ansible.builtin.set_fact:
    splunk_current_version: "{{ splunk_installed_version }}"