---
# This playbook removes backup archives

- name: Find files to remove under {{splunk_backup_dir}}/
  tags:
    - splunk
    - splunk_software
    - splunk_backup
  ansible.builtin.find:
    paths: "{{splunk_backup_dir}}/"
    file_type: file
    recurse: false
    patterns: "{{ splunk_install_app }}_etc_v*.tgz"
    use_regex: false
  register: backup_files_to_delete
  become: true
  become_user: "{{ splunk_user }}"

- name: Backup files to remove
  tags:
    - splunk
    - splunk_software
    - splunk_backup
  ansible.builtin.debug:
    msg: "{{ item }}"
  vars:
    archive_list: "{{ backup_files_to_delete | json_query(query) | list }}"
    query: "files[*].path"
  loop:
    - "{{ backup_files_to_delete | json_query(query) | list }}"

- name: Remove backup archives under {{splunk_backup_dir}}/
  tags:
    - splunk
    - splunk_software
    - splunk_backup
  ansible.builtin.file:
    path: "{{item.path}}"
    state: absent
  loop: "{{ backup_files_to_delete.files }}"
  become: true
  become_user: "{{ splunk_user }}"
