---

- name: Disable boot-start
  tags:
    - splunk
    - splunk_software
    - splunk_uninstall
  ansible.builtin.command: "{{ splunk_home }}/bin/splunk disable boot-start"
  when:
    - use_systemctl == true
    - use_splunk_systemd|default(false) == true

- name: Remove {{splunk_service_name}}.service file
  tags:
    - splunk
    - splunk_software
    - splunk_uninstall
  ansible.builtin.file:
    path: "/etc/systemd/system/{{splunk_service_name}}.service"
    state: absent
  when: use_systemctl == true

- name: Commit changes to systemctl
  tags:
    - splunk
    - splunk_software
    - splunk_uninstall
  ansible.builtin.command: systemctl daemon-reload
  when: use_systemctl == true