---
# Get peerlist for indexer cluster

- name: Get cluster peer ids
  tags:
    - splunk
    - splunk_software
    - splunk_rest
  ansible.builtin.import_tasks: splunk_rest.yml
  vars:
    splunk_software_rest_endpoint: "/services/cluster/master/peers/{{ idxc_peerid|first }}"
  delegate_to: "{{ splunk_idxc_cm }}"

- name: Set peer status
  tags:
    - splunk
    - splunk_software
    - splunk_rest
  ansible.builtin.set_fact:
    idxc_peer_status: "{{ splunk_software_rest_json_output.entry[0].content.status }}"
