---
- name: Check /etc/init.d/splunk
  tags:
    - splunk
    - splunk_software
    - splunk_remove_init
  ansible.builtin.stat:
    path: "/etc/init.d/splunk"
  register: check_splunk_init

- name: Disable boot-start
  tags:
    - splunk
    - splunk_software
    - splunk_remove_init
  ansible.builtin.command: "{{ splunk_home }}/bin/splunk disable boot-start"
  when: check_splunk_init.stat.exists

- name: Find rc.d file to remove
  tags:
    - splunk
    - splunk_software
    - splunk_remove_init
  ansible.builtin.find:
    paths: "/etc"
    file_type: any
    recurse: true
    follow: yes
    patterns: "[KS][0-9]+splunk$"
    use_regex: yes
  register: init_files_to_delete

- name: Remove all rc.d files
  tags:
    - splunk
    - splunk_software
    - splunk_remove_init
  ansible.builtin.file:
    path: "{{item.path}}"
    state: absent
  loop: "{{ init_files_to_delete.files }}"

- name: Remove /etc/init.d/splunk
  tags:
    - splunk
    - splunk_software
    - splunk_remove_init
  ansible.builtin.file:
    path: /etc/init.d/splunk
    state: absent

- name: Commit changes to systemctl
  tags:
    - splunk
    - splunk_software
    - splunk_remove_init
  ansible.builtin.command: systemctl daemon-reload
  when: use_systemctl

- name: Check /etc/rc.local
  tags:
    - splunk
    - splunk_software
    - splunk_remove_init
  ansible.builtin.stat:
    path: "/etc/rc.local"
  register: check_rc_local

- name: Remove disable THP in /etc/rc.local
  tags:
    - splunk
    - splunk_software
    - splunk_remove_init
  ansible.builtin.blockinfile:
    path: /etc/rc.local
    state: absent
    marker: "# {mark} ANSIBLE MANAGED BLOCK (THP)"
  when: check_rc_local.stat.exists

- name: "remove /etc/security/limits.d/splunk.conf"
  tags:
    - splunk
    - splunk_software
    - splunk_remove_init
  ansible.builtin.file:
    path: "/etc/security/limits.d/splunk.conf"
    state: absent
