---

- name: Call set_splunk_installed_version from splunk_common
  tags:
    - splunk
    - splunk_software
  ansible.builtin.include_role:
    name: splunk_common
    tasks_from: set_splunk_installed_version

- name: Set splunk systemd-managed to 1
  tags:
    - splunk
    - splunk_software
  ansible.builtin.set_fact:
    splunk_systemd_managed: "-systemd-managed 1"
  when:
    - use_systemctl
    - version_output.stdout is defined
    - splunk_installed_version is version_compare('7.2.2', '>=')

- name: Set splunk systemd service file name
  tags:
    - splunk
    - splunk_software
  ansible.builtin.set_fact:
    splunk_unit_file_name: "-systemd-unit-file-name {{splunk_service_name}}"
  when:
    - use_systemctl
    - version_output.stdout is defined
    - splunk_installed_version is version_compare('7.2.2', '>=')

- name: Set splunk create-polkit-rules to 1
  tags:
    - splunk
    - splunk_software
  ansible.builtin.set_fact:
    splunk_create_polkit_rules: "-create-polkit-rules 1"
  when:
    - use_policykit
    - use_systemctl
    - version_output.stdout is defined
    - splunk_installed_version is version_compare('8.1.1', '>=')
