---

- name: "update {{splunk_service_name}} systemd service file"
  tags:
    - splunk
    - splunk_software
    - splunk_unit_file
  community.general.ini_file:
    path: "/etc/systemd/system/{{splunk_service_name}}.service"
    section: "{{ item.section }}"
    option: "{{ item.var }}"
    value: "{{ item.val }}"
    owner: root
    group: root
    mode: 0644
    no_extra_spaces: yes
  loop: "{{ splunk_systemd_services_updates }}"
  when: use_systemctl == true and splunk_systemd_services[splunk_service_name] is defined

- name: Commit changes to systemctl
  tags:
    - splunk
    - splunk_software
    - splunk_unit_file
  ansible.builtin.command: systemctl daemon-reload
  when: use_systemctl == true
