---
- name: Call get_idxc_peerids
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.include_tasks: get_idxc_peerids.yml

- name: Set idxc_peerid
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.set_fact:
    idxc_peerid: "{{ idxc_name_peerids | json_query(peerid_query) }}"
  vars:
    peerid_query: "[? name=='{{ inventory_hostname }}'].peerid"

- name: Call get_idxc_peer_status
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.include_tasks: get_idxc_peer_status.yml

- name: Fail if peer has wrong state
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.fail:
    msg: "Cluster Peer {{ inventory_hostname }} has wrong state '{{ idxc_peer_status }}'"
  when:
    - idxc_peer_status != 'Up'
    - idxc_peer_status != 'Down'
    - idxc_peer_status != 'ReassigningPrimaries'

- name: Offline indexer
  tags:
    - splunk
    - splunk_software
    - splunk_rest
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.include_tasks: splunk_rest.yml
  vars:
    splunk_software_rest_endpoint: /services/cluster/slave/control/control/decommission
    splunk_software_rest_method: POST
  when: idxc_peer_status == 'Up'

# There is not 'loop until' with include_tasks. So, we need to code the rest call directly here.
- name: Check for peer to be down
  tags:
    - splunk
    - splunk_software
    - splunk_rest
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.uri:
    url: "https://localhost:8089//services/cluster/master/peers/{{ idxc_peerid|first }}"
    user: admin
    password: "{{ splunk_admin_password }}"
    method: "GET"
    body_format: form-urlencoded
    body:
      output_mode: "json"
    return_content: true
    force_basic_auth: true
    validate_certs: false
  register: splunk_software_rest_output_local
  vars:
    splunk_software_rest_json_output_local: "{{ splunk_software_rest_output_local.content|ansible.builtin.from_json }}"
  check_mode: false
  until: "splunk_software_rest_json_output_local.entry[0].content.status == 'Down'"
  # Wait 30 minutes to complete this step
  retries: 30
  delay: 60
  delegate_to: "{{ splunk_idxc_cm }}"

- name: Call upgrade
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.include_tasks: upgrade.yml

# There is not 'loop until' with include_tasks. So, we need to code the rest call directly here.
- name: Check for peer to be up
  tags:
    - splunk
    - splunk_software
    - splunk_rest
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.uri:
    url: "https://localhost:8089//services/cluster/master/peers/{{ idxc_peerid|first }}"
    user: admin
    password: "{{ splunk_admin_password }}"
    method: "GET"
    body_format: form-urlencoded
    body:
      output_mode: "json"
    return_content: true
    force_basic_auth: true
    validate_certs: false
  register: splunk_software_rest_output_local
  vars:
    splunk_software_rest_json_output_local: "{{ splunk_software_rest_output_local.content|ansible.builtin.from_json }}"
  check_mode: false
  until: "splunk_software_rest_json_output_local.entry[0].content.status == 'Up'"
  # Wait 10 minutes to complete this step
  retries: 40
  delay: 15
  delegate_to: "{{ splunk_idxc_cm }}"
