---
- name: Check if cluster manager has been upgraded already
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.include_tasks: check_splunk_version.yml
  vars:
    fail_on_missing_upgrade: true

- name: Check cluster state
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.include_tasks: splunk_rest.yml
  vars:
    splunk_software_rest_endpoint: /services/cluster/master/status

- name: Set state variables
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.set_fact:
    idxc_searchable_rolling: "{{ splunk_software_rest_json_output.entry[0].content.searchable_rolling|bool }}"
    idxc_service_ready_flag: "{{ splunk_software_rest_json_output.entry[0].content.service_ready_flag|bool }}"
  vars:
    splunk_software_rest_json_output: "{{ splunk_software_rest_output.content|ansible.builtin.from_json }}"

- name: Fail if cluster service_ready_flag not ok
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.fail:
    msg: "Cluster is not healthy!"
  when: idxc_service_ready_flag == false

- name: Call splunk rest endpiont
  tags:
    - splunk
    - splunk_software
    - splunk_rest
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.include_tasks: splunk_rest.yml
  vars:
    splunk_software_rest_endpoint: /services/cluster/master/health
  when: idxc_searchable_rolling == false

- name: Fail if cluster preflight not ok
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.fail:
    msg: "Cluster Health preflight check was not successfull!"
  when:
    - idxc_searchable_rolling == false
    - splunk_software_rest_json_output.entry[0].content.pre_flight_check|int != 1

- name: Init rolling upgrade
  tags:
    - splunk
    - splunk_software
    - splunk_rest
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.include_tasks: splunk_rest.yml
  vars:
    splunk_software_rest_endpoint: /services/cluster/master/control/control/rolling_upgrade_init
    splunk_software_rest_method: POST
  when: idxc_searchable_rolling == false

- name: Init output
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.debug:
    msg: "{{ splunk_software_rest_json_output.messages[0].text }}"
  when: idxc_searchable_rolling == false
  changed_when: idxc_searchable_rolling == false

- name: Init output
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_idxc_rolling
  ansible.builtin.debug:
    msg: "Cluster is already in searchable rolling upgrade mode."
  when: idxc_searchable_rolling == true
