---
- name: Check cluster state
  tags:
    - splunk
    - splunk_software
    - splunk_rest
    - splunk_upgrade
    - splunk_upgrade_shc_rolling
  ansible.builtin.include_tasks: splunk_rest.yml
  vars:
    splunk_software_rest_endpoint: /services/shcluster/status?advanced=1
  when: inventory_hostname == splunk_shc_host_list|first

- name: Set state variables
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_shc_rolling
  ansible.builtin.set_fact:
    shc_rolling_restart_flag: "{{ splunk_software_rest_json_output.entry[0].content.captain.rolling_restart_flag|bool }}"
    shc_rolling_upgrade_flag: "{{ splunk_software_rest_json_output.entry[0].content.captain.rolling_upgrade_flag|bool }}"
    shc_service_ready_flag: "{{ splunk_software_rest_json_output.entry[0].content.captain.service_ready_flag|bool }}"
  vars:
    splunk_software_rest_json_output: "{{ splunk_software_rest_output.content|ansible.builtin.from_json }}"
  when: inventory_hostname == splunk_shc_host_list|first

- name: Finalize rolling upgrade
  tags:
    - splunk
    - splunk_software
    - splunk_rest
    - splunk_upgrade
    - splunk_upgrade_shc_rolling
  ansible.builtin.include_tasks: splunk_rest.yml
  vars:
    splunk_software_rest_endpoint: /services/shcluster/captain/control/control/upgrade-finalize
    splunk_software_rest_method: POST
  when:
    - inventory_hostname == splunk_shc_host_list|first
    - shc_rolling_upgrade_flag

- name: Finalize output
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_shc_rolling
  ansible.builtin.debug:
    msg: "{{ splunk_software_rest_json_output.messages[0].text }}"
  when:
    - inventory_hostname == splunk_shc_host_list|first
    - shc_rolling_upgrade_flag
  changed_when: shc_rolling_upgrade_flag

- name: Finalize output
  tags:
    - splunk
    - splunk_software
    - splunk_upgrade
    - splunk_upgrade_shc_rolling
  ansible.builtin.debug:
    msg: "Cluster searchable rolling was already finalized."
  when:
    - inventory_hostname == splunk_shc_host_list|first
    - not shc_rolling_upgrade_flag
