---
- name: Upload and unarchive splunk archive from ansible host
  tags:
    - splunk
    - splunk_software
  ansible.builtin.unarchive:
    src: "{{splunk_archive.0}}"
    dest: "{{ splunk_install_dir }}/"
    owner: "{{ splunk_user }}"
    group: "{{ splunk_group }}"
    extra_opts:
      - "--dereference"
  when: splunk_download is not defined or
    (splunk_install_app == "splunk" and not splunk_download.splunk|default(false)) or
    (splunk_install_app == "splunkforwarder" and not splunk_download.splunkforwarder|default(false))

- name: Define splunk archive download url
  tags:
    - splunk
    - splunk_software
  ansible.builtin.set_fact:
    splunk_url: 'https://d7wz6hmoaavd0.cloudfront.net/products/{%- if splunk_install_app == "splunk" -%}splunk{%- else -%}universalforwarder{%- endif -%}/releases/{{splunk_target_version}}/linux/{{splunk_archive.0|basename}}'
  when: splunk_download is defined and
    (splunk_install_app == "splunk" and splunk_download.splunk|default(false) or
    splunk_install_app == "splunkforwarder" and splunk_download.splunkforwarder|default(false))

- name: Download the splunk archive from splunk.com
  tags:
    - splunk
    - splunk_software
  get_url:
    url: "{{ splunk_url }}"
    dest: "/tmp/splunk.tar.gz"
    timeout: 60
    owner: "{{ splunk_user }}"
    group: "{{ splunk_group }}"
    force: true
  when: splunk_download is defined and
    (splunk_install_app == "splunk" and splunk_download.splunk|default(false) or
    splunk_install_app == "splunkforwarder" and splunk_download.splunkforwarder|default(false))

- name: Extract splunk archive
  tags:
    - splunk
    - splunk_software
  ansible.builtin.unarchive:
    src: "/tmp/splunk.tar.gz"
    dest: "{{ splunk_install_dir }}"
    owner: "{{ splunk_user }}"
    group: "{{ splunk_group }}"
    remote_src: true
    extra_opts:
      - "--dereference"
  when: splunk_download is defined and
    (splunk_install_app == "splunk" and splunk_download.splunk|default(false) or
    splunk_install_app == "splunkforwarder" and splunk_download.splunkforwarder|default(false))

# This is needed when having splunk_home linked to another directory
- name: Set owner {{ splunk_user }}:{{ splunk_group }} for {{ splunk_home }}
  tags:
    - splunk
    - splunk_software
  ansible.builtin.file:
    path: "{{ splunk_home }}/."
    owner: "{{ splunk_user }}"
    group: "{{ splunk_group }}"
    mode: '0755'

- name: Remove splunk install archive
  tags:
    - splunk
    - splunk_software
  ansible.builtin.file:
    path: "/tmp/splunk.tar.gz"
    state: absent
  when: splunk_download is defined and
    (splunk_install_app == "splunk" and splunk_download.splunk|default(false) or
    splunk_install_app == "splunkforwarder" and splunk_download.splunkforwarder|default(false))
