---
# Main playbook for this role

- name: Start role tasks
  tags:
    - splunk
    - splunk_baseconfig
    - heavy_forwarder
  ansible.builtin.debug:
    msg: "role '{{ role_name }}' start"

- name: Apply baseconfig app org_all_deploymentclient
  tags:
    - splunk
    - splunk_baseconfig
    - heavy_forwarder
    - org_all_deploymentclient
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: 'org_all_deploymentclient'
    app_path: '{{splunk_home}}/etc/apps'
  when: splunk_deployment_server|default()|length > 0 and inventory_hostname not in groups.role_deployment_server

- name: Apply baseconfig app org_all_forwarder_outputs
  tags:
    - splunk
    - splunk_baseconfig
    - heavy_forwarder
    - org_all_forwarder_outputs
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: 'org_all_forwarder_outputs'
    app_path: '{{splunk_home}}/etc/apps'
  when: splunk_deployment_server|default()|length == 0 and inventory_hostname not in groups.role_indexer

- name: "adding hf_host to server.conf"
  tags:
    - splunk
    - heavy_forwarder
    - hf_host
  community.general.ini_file:
    path: "{{ splunk_home }}/etc/system/local/inputs.conf"
    section: default
    option: _meta
    value: "hf_host::{{inventory_hostname}}"
    owner: "{{splunk_user}}"
    group: "{{splunk_group}}"
  notify: restart splunk

- name: Install certs for web ssl
  tags:
    - splunk
    - splunk_baseconfig
    - heavy_forwarder
    - org_all_search_base
    - web_ssl
  ansible.builtin.include_role:
    name: baseconfig_app
    tasks_from: splunk_ssl_web_certs
  when: splunk_ssl.web.enable == true and splunk_ssl.web.own_certs == true

- name: Apply baseconfig app org_all_search_base
  tags:
    - splunk
    - splunk_baseconfig
    - heavy_forwarder
    - org_all_search_base
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: 'org_all_search_base'
    app_path: '{{splunk_home}}/etc/apps'
  when: splunk_deployment_server|default()|length == 0

- name: Apply baseconfig app org_full_license_server
  tags:
    - splunk
    - splunk_baseconfig
    - heavy_forwarder
    - org_full_license_server
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: 'org_full_license_server'
    app_path: '{{splunk_home}}/etc/apps'
  when: splunk_deployment_server|default()|length == 0 and splunk_license_manager|default()|length > 0 and inventory_hostname not in groups.role_license_manager|default([])

- name: Install certs for inputs ssl
  tags:
    - splunk
    - splunk_baseconfig
    - heavy_forwarder
    - org_all_indexer_base
    - inputs_ssl
  ansible.builtin.include_role:
    name: baseconfig_app
    tasks_from: splunk_ssl_inputs_certs
  when: splunk_ssl.inputs.enable == true and splunk_ssl.inputs.own_certs == true

- name: Apply baseconfig app org_all_indexer_base
  tags:
    - splunk
    - splunk_baseconfig
    - heavy_forwarder
    - org_all_indexer_base
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: 'org_all_indexer_base'
    app_path: '{{splunk_home}}/etc/apps'
  when: splunk_deployment_server|default()|length == 0

- name: Apply baseconfig app org_indexer_volume_indexes
  tags:
    - splunk
    - splunk_baseconfig
    - heavy_forwarder
    - org_indexer_volume_indexes
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: 'org_indexer_volume_indexes'
    app_path: '{{splunk_home}}/etc/apps'
  when: splunk_deployment_server|default()|length == 0 or inventory_hostname in groups.role_deployment_server

- name: Apply baseconfig app org_all_indexes
  tags:
    - splunk
    - splunk_baseconfig
    - heavy_forwarder
    - org_all_indexes
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: 'org_all_indexes'
    app_path: '{{splunk_home}}/etc/apps'
  when: splunk_deployment_server|default()|length == 0 or inventory_hostname in groups.role_deployment_server

- name: Call update_dserver from role monitoring_console
  tags:
    - splunk
    - splunk_baseconfig
    - monitoring_console
    - dserver
  ansible.builtin.include_role:
    name: monitoring_console
    tasks_from: update_dserver
  vars:
    splunk_dservers: "[ '{{ inventory_hostname }}' ]"
  when: splunk_monitoring_console|default()|length > 0 and inventory_hostname not in groups.role_monitoring_console
