---
# This playbook configures an LDAP server

# Following this guide: http://www.itzgeek.com/how-tos/linux/centos-how-tos/step-step-openldap-server-configuration-centos-7-rhel-7.html

- name: Install openladp packages
  tags:
    - ldap
  ansible.builtin.package:
    name:
      - openldap
      - openldap-clients
      - openldap-servers
    state: latest

- name: Enable and start service slapd
  tags:
    - ldap
  ansible.builtin.service: 
    name: slapd
    state: started
    enabled: yes

- name: Check for ldap db config file
  tags:
    - ldap
  ansible.builtin.stat: path="/var/tmp/db.ldif"
  register: ldap_config

- name: Create LDAP root password
  tags:
    - ldap
  ansible.builtin.shell: slappasswd -s {{ldap_root_passwd}}
  register: ldap_root_hash
  when: not ldap_config.stat.exists

- name: Define ldap db config file
  tags:
    - ldap
  ansible.builtin.template:
    src: var/tmp/db.ldif.j2
    dest: /var/tmp/db.ldif
  when: not ldap_config.stat.exists

- name: Add ldap db config file
  tags:
    - ldap
  ansible.builtin.shell: ldapmodify -Y EXTERNAL  -H ldapi:/// -f /var/tmp/db.ldif
  when: not ldap_config.stat.exists

- name: "check for ldap monitor config file"
  ansible.builtin.stat: path="/var/tmp/monitor.ldif"
  register: ldap_monitor_config

- name: Define monitor config file
  tags:
    - ldap
  ansible.builtin.template:
    src: var/tmp/monitor.ldif.j2
    dest: /var/tmp/monitor.ldif
  when: not ldap_monitor_config.stat.exists

- name: Add ldap monitor config
  tags:
    - ldap
  ansible.builtin.shell: ldapmodify -Y EXTERNAL  -H ldapi:/// -f /var/tmp/monitor.ldif
  when: not ldap_monitor_config.stat.exists

- name: Check for ldap DB_CONFIG file
  tags:
    - ldap
  ansible.builtin.stat: path="/var/lib/ldap/DB_CONFIG"
  register: ldap_db_config

- name: Copy /var/lib/ldap/DB_CONFIG from example
  tags:
    - ldap
  ansible.builtin.shell: cp /usr/share/openldap-servers/DB_CONFIG.example /var/lib/ldap/DB_CONFIG
  when: not ldap_db_config.stat.exists

- name: Set correct file permissions for DB_CONFIG
  tags:
    - ldap
  ansible.builtin.file:
    path: /var/lib/ldap/DB_CONFIG
    owner: ldap
    group: ldap
    mode: '0644'

- name: Add more schemas
  tags:
    - ldap
  ansible.builtin.shell: ldapadd -Y EXTERNAL -H ldapi:/// -f {{item}}
  loop:
    - /etc/openldap/schema/cosine.ldif
    - /etc/openldap/schema/nis.ldif
    - /etc/openldap/schema/inetorgperson.ldif
  when: not ldap_db_config.stat.exists

- name: "check for ldap base config file"
  tags:
    - ldap
  ansible.builtin.stat: path="/var/tmp/base.ldif"
  register: ldap_base_config

- name: Define domain config
  tags:
    - ldap
  ansible.builtin.template:
    src: var/tmp/base.ldif.j2
    dest: /var/tmp/base.ldif
  when: not ldap_base_config.stat.exists

- name: Build lDAP directory sturcture
  tags:
    - ldap
  ansible.builtin.shell: ldapadd -x -w {{ldap_root_passwd}} -D "cn=ldapadm,{{ldap_dc}}" -f /var/tmp/base.ldif
  when: not ldap_base_config.stat.exists
