# Append PATH
export SPLUNK_HOME={{ splunk_home }}
export PATH=$PATH:$SPLUNK_HOME/bin

# Aliases
alias cs="cd $SPLUNK_HOME"
alias ce="cd $SPLUNK_HOME/etc"
alias ca="cd $SPLUNK_HOME/etc/apps"
alias cm="cd $SPLUNK_HOME/etc/master-apps"
alias ch="cd $SPLUNK_HOME/etc/shcluster/apps"
alias cdd="cd $SPLUNK_HOME/etc/deployment-apps"
alias cdl="cd $SPLUNK_HOME/var/log/splunk"
alias tl="tail -f $SPLUNK_HOME/var/log/splunk/splunkd.log"

# Source the SplunkEnv profile
. $SPLUNK_HOME/bin/setSplunkEnv

# Prevent broken SSL libs for non splunk commands
unset LD_LIBRARY_PATH
