# Splunk user ulimits settings
{{splunk_user}} hard core 0
{{splunk_user}} hard maxlogins 10
{{splunk_user}} soft nofile 65535
{{splunk_user}} hard nofile 65535
{{splunk_user}} soft nproc 20480
{{splunk_user}} hard nproc 20480
{{splunk_user}} soft nfile unlimited
{{splunk_user}} hard nfile unlimited
