---
# Usage: call_splunk_rest.yml --limit <hostname> -e "splunk_software_rest_endpoint=/services"
#
#        POST Method: -e "splunk_software_rest_method=POST"
#        Add 'splunk_software_rest_noauth=true' to use noauth method
#

- name: Run Splunk command
  hosts:
    - role_cluster_manager
    - role_deployer
    - role_deployment_server
    - role_heavy_forwarder
    - role_indexer
    - role_license_manager
    - role_monitoring_console
    - role_search_head
    - role_universal_forwarder
  become: true
  become_user: root

  tasks:
    - name: Call splunk_rest from role splunk_software
      ansible.builtin.include_role:
        name: splunk_software
        tasks_from: splunk_rest
      vars:
        splunk_software_rest_output_show: true
        splunk_software_rest_output_mode: json
