---

- name: Enable splunkweb
  hosts: all,!role_universal_forwarder,!role_universal_forwarder_windows
  become: true
  become_user: root

  tasks:

    - name: Call enable_splunkweb from role splunk_common
      include_role:
        name: splunk_software
        tasks_from: enable_splunkweb.yml
