---
# This playbook configures the splunk roles

- name: Setup deployment server role
  hosts: role_deployment_server
  become: true
  become_user: root
  roles:
    - deployment_server

- name: Setup license manager role
  hosts: role_license_manager
  become: true
  become_user: root
  roles:
    - license_manager

- name: Setup cluster manager role
  hosts: role_cluster_manager
  become: true
  become_user: root
  roles:
    - cluster_manager

- name: Setup indexer role
  hosts: role_indexer
  become: true
  become_user: root
  roles:
    - indexer

- name: Setup deployer role
  hosts: role_deployer
  become: true
  become_user: root
  roles:
    - deployer

- name: Setup search head role
  hosts: role_search_head
  serial: 1
  become: true
  become_user: root
  roles:
    - search_head

- name: Setup monitoring console role
  hosts: role_monitoring_console
  become: true
  become_user: root
  roles:
    - monitoring_console

- name: Setup heavy forwarder role
  hosts: role_heavy_forwarder
  become: true
  become_user: root
  roles:
    - heavy_forwarder

- name: Setup universal forwarder role
  hosts: role_universal_forwarder
  become: true
  become_user: root
  roles:
    - universal_forwarder

- name: Setup universal forwarder role for windows
  hosts: role_universal_forwarder_windows
  roles:
    - universal_forwarder_windows
