---
- name: Start splunk
  hosts:
    - role_cluster_manager
    - role_deployer
    - role_deployment_server
    - role_heavy_forwarder
    - role_indexer
    - role_license_manager
    - role_monitoring_console
    - role_search_head
    - role_universal_forwarder
  become: true
  become_user: root

  tasks:
    - name: Call start splunk from role splunk_common
      ansible.builtin.include_role:
        name: splunk_software
        tasks_from: start_splunk
