---
# This playbook does a rolling upgrade of a search head cluster

- name: Begin tasks
  hosts: shcluster_*:&role_search_head
  become: yes
  become_user: root

  tasks:

    - name: Call upgrade_shc_rolling_begin
      include_role:
        name: splunk_software
        tasks_from: upgrade_shc_rolling_begin

- name: Upgrade search head
  hosts: shcluster_*:&role_search_head
  serial: 1
  become: yes
  become_user: root

  tasks:

    - name: Call upgrade_shc_rolling_check
      include_role:
        name: splunk_software
        tasks_from: upgrade_shc_rolling_check

- name: End tasks
  hosts: shcluster_*:&role_search_head
  become: yes
  become_user: root

  tasks:

    - name: Call upgrade_shc_rolling_end
      include_role:
        name: splunk_software
        tasks_from: upgrade_shc_rolling_end
