---
# This playbook does a rolling upgrade of indexer cluster members

- name: Begin tasks
  hosts: idxcluster_*:&role_cluster_manager
  become: true
  become_user: root

  tasks:

    - name: Call upgrade_idxc_rolling_begin
      include_role:
        name: splunk_software
        tasks_from: upgrade_idxc_rolling_begin

- name: Upgrade indexer
  hosts: idxcluster_*:&role_indexer
  serial: 1
  become: true
  become_user: root

  tasks:

    - name: Call upgrade_idxc_rolling_check
      include_role:
        name: splunk_software
        tasks_from: upgrade_idxc_rolling_check

- name: End tasks
  hosts: idxcluster_*:&role_cluster_manager
  become: true
  become_user: root

  tasks:

    - name: Call upgrade_idxc_rolling_end
      include_role:
        name: splunk_software
        tasks_from: upgrade_idxc_rolling_end
