---
# Check if we can access the storage layer for storing buckets

- name: Getting volume status
  tags:
    - splunk
    - indexer
    - check_volume_path
  ansible.builtin.stat:
    path: "{{ volume_path }}"
  register: volumepath

- name: Check if volume exists
  tags:
    - splunk
    - indexer
    - check_volume_path
  ansible.builtin.assert:
    that:
      - volumepath.stat.exists
    fail_msg: "volume:{{ volume_name }} path: {{ volume_path }} does not exist"

- name: Check if volume path is a directory
  tags:
    - splunk
    - indexer
    - check_volume_path
  ansible.builtin.assert:
    that:
      - volumepath.stat.isdir
    fail_msg: "volume:{{ volume_name }} path: {{ volume_path }} is not a directory"

- name: Check if volume path is own by splunk user
  tags:
    - splunk
    - indexer
    - check_volume_path
  ansible.builtin.assert:
    that:
      - volumepath.stat.pw_name == splunk_user
    fail_msg: "volume:{{ volume_name }} path: {{ volume_path }} is not owned by user {{splunk_user}}"

- name: Check if volume path is writeable
  tags:
    - splunk
    - indexer
    - check_volume_path
  ansible.builtin.assert:
    that:
      - volumepath.stat.wusr
    fail_msg: "volume:{{ volume_name }} path: {{ volume_path }} is not writable by user {{splunk_user}}"
