---
# Main playbook for this role

- name: Start indexer cluster node
  tags:
    - splunk
    - indexer
    - idxcluster
  ansible.builtin.debug:
    msg: "Configuring indexer cluster"

- name: Apply baseconfig app org_cluster_indexer_base
  tags:
    - splunk
    - splunk_baseconfig
    - indexer
    - idxcluster
    - org_cluster_indexer_base
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: "org_cluster_indexer_base"
    app_path: "{{splunk_home}}/etc/apps"

- name: Apply baseconfig app org_site_n_indexer_base
  tags:
    - splunk
    - splunk_baseconfig
    - indexer
    - idxcluster
    - org_site_n_indexer_base
  ansible.builtin.include_role:
    name: baseconfig_app
  vars:
    app_name: "org_site_n_indexer_base"
    app_path: "{{splunk_home}}/etc/apps"
  when: site is defined and 'site' in site
