---
- name: Check Indexer Cluster Health
  hosts: role_cluster_manager
  become: true
  become_user: root
  gather_facts: false

  tasks:
    - name: Check cluster status
      ansible.builtin.include_role:
        name: splunk_software
        tasks_from: splunk_rest
      vars:
        splunk_rest_endpoint: /services/cluster/master/status
        splunk_rest_output_mode: json

    - name: Parse cluster status
      ansible.builtin.set_fact:
        idxc_service_ready: "{{ splunk_rest_output.content | from_json | json_query('entry[0].content.service_ready_flag') | bool }}"

    - name: Asset Cluster Healthy
      ansible.builtin.assert:
        that:
          - idxc_service_ready == true
        fail_msg: "Indexer Cluster is not healthy! service_ready_flag is false."
