---
- name: Find Search Head Cluster Member
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Find SHC member
      ansible.builtin.set_fact:
        shc_member: >-
          {{
            groups.keys()
            | select('match', '^shcluster_')
            | map('extract', groups)
            | flatten
            | intersect(groups['role_search_head'] | default([]))
            | first | default('')
          }}

    - name: Add to target group
      ansible.builtin.add_host:
        name: "{{ shc_member }}"
        groups: target_shc_group
      when: shc_member != ''
      changed_when: false

- name: Wait for Search Head Cluster Captain
  hosts: target_shc_group
  become: true
  become_user: root
  gather_facts: false

  tasks:
    - name: Wait for SHC to be ready
      ansible.builtin.uri:
        url: "https://localhost:8089/services/shcluster/status"
        method: GET
        user: admin
        password: "{{ splunk_admin_password }}"
        body_format: form-urlencoded
        validate_certs: false
        force_basic_auth: true
        body:
          output_mode: json
      register: shc_status
      until: (shc_status.json.entry[0].content.captain.service_ready_flag | default(false) | bool)
      retries: 60
      delay: 10
      changed_when: false
